pkgbase = gobcam-bin
	pkgdesc = Animated emoji reactions for your Linux webcam (prebuilt)
	pkgver = 0.0.6
	pkgrel = 1
	url = https://github.com/titarch/gobcam
	install = gobcam-bin.install
	arch = x86_64
	license = MIT
	license = Apache
	makedepends = libarchive
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = gstreamer
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = gst-libav
	depends = v4l-utils
	depends = v4l2loopback-dkms
	optdepends = polkit: graphical password prompt for `gobcam-setup`
	provides = gobcam
	conflicts = gobcam
	conflicts = gobcam-git
	backup = etc/modules-load.d/gobcam.conf
	backup = etc/modprobe.d/gobcam.conf
	source = https://github.com/titarch/gobcam/releases/download/v0.0.6/Gobcam_0.0.6_amd64.deb
	sha256sums = f2c48b12c49e22cb4d3f8662cdb32b86ddeecd68e3557804cf1e91cad49a8f13

pkgname = gobcam-bin
